# Python
.venv/
__pycache__/
*.py[cod]

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Environment / secrets
.env

# Python cache
.pytest_cache/

# Temporary files
*.tmp
*.log
